*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: #33383e;
    flex-direction: column;
    color: #bd8240;
}